html, body { background-color: #f6f6f6;
}
#painting {
  background-color: #fff4db;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
#toprow {
  height: 290px;
}
#bigbox {
  height: 290px;
  width: 290px;
}
#topdivider {
  width: 10px;
  height: 390px;
}
 #topleftcolumn {
   width: 120px;
   height: 290px;
 }
 #bottomrow{ 
 width: 290px;
 height: 140px;
 }
.mediumbox {
  display: flex;
  flex-direction: column;
  float: right;
} 
#box1 {
  height: 140px;
  width: 110px;
 }
#box2 {
  height: 140px;
  width: 110px;
}
#box3{
   height: 100px;
   width: 280px;
}
#divider2{
  height: 10px;
  width: 110px;
}
#divider3 {
  height: 10px;
  width: 400px;
}

.red { background-color: red;
}
.black { background-color: black;
}
.yellow { background-color: yellow;
}
.blue { background-color: blue;
}
.green { background-color: green;
}
.right{ float: right;
}

